---
- name: Configurar BD PostgreSQL en Azure
  hosts: azure_db
  become: yes  # Ejecutar todo como root (sudo)
  vars:
    db_name: "nomina_db"
    db_user: "app_user"
    # En un entorno real, esto iría en un Vault cifrado
    db_password: "TuPasswordSeguro123!"
    # La red de AWS que tiene permiso para entrar (VPC-Hub)
    aws_subnet_cidr: "10.10.0.0/16" 

  tasks:

    - name: Esperar que el sistema de paquetes esté libre, ya que APT solo acepta un proceso a la vez
      # Espera que el puerto 22 esté abierto (conexión) y luego espera a que el archivo de bloqueo de apt se libere
      ansible.builtin.raw: while sudo fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done
      changed_when: false

    - name: FORZAR LIBERACIÓN DE BLOQUEOS APT
      ansible.builtin.shell: |
        # Borramos tres archivos de bloqueo principales
        sudo rm -f /var/lib/dpkg/lock-frontend
        sudo rm -f /var/lib/dpkg/lock
        sudo rm -f /var/cache/apt/archives/lock
      ignore_errors: true # Permitir que el playbook continúe si el archivo no existe

    - name: 1. Actualizar caché de apt e instalar PostgreSQL
      apt:
        name:
          - acl #paquete necesario para gestionar permisos y evitar problemas entre usuarios root y postgres 
          - postgresql
          - postgresql-contrib
          - python3-psycopg2 # Necesario para que Ansible maneje Postgres
        state: present
        update_cache: yes

    - name: 1.1. Obtener la versión de PostgreSQL instalada
      ansible.builtin.shell: ls -1 /etc/postgresql/ | sort -V | tail -n 1
      register: pg_version_result
      # Esto debería devolver un num. de version

    - name: 1.2. Registrar la ruta de configuración dinámica
      ansible.builtin.set_fact:
        # Esto construye la ruta completa
        postgres_conf_path: "/etc/postgresql/{{ pg_version_result.stdout | trim}}/main"

    - name: 1.3. Validar si el directorio existe
      ansible.builtin.stat:
        path: "{{ postgres_conf_path }}"
      register: pg_path_stat
      
    - name: 1.4. FALLAR si no se encuentra la ruta de configuración
      ansible.builtin.fail:
        msg: "ERROR FATAL: La versión de PostgreSQL {{ pg_version_result.stdout }} fue instalada, pero no se encontró el directorio de configuración: {{ postgres_conf_path }}"
      when: not pg_path_stat.stat.isdir is defined or not pg_path_stat.stat.isdir

    - name: 2. Configurar Postgres para escuchar en TODAS las interfaces
      # Por defecto solo escucha en localhost. Necesitamos que escuche en la VPN.
      lineinfile:
        path: "{{ postgres_conf_path }}/postgresql.conf" #La versión puede variar según el Ubuntu
        regexp: "^#?listen_addresses"
        line: "listen_addresses = '*'"
      notify: Reiniciar Postgres

    - name: 3. Configurar pg_hba.conf para aceptar conexiones desde AWS (VPN)
      # Esto es como el Firewall de la Base de Datos
      postgresql_pg_hba:
        dest: "{{ postgres_conf_path }}/pg_hba.conf"
        contype: host
        users: all
        source: "{{ aws_subnet_cidr }}" # Solo acepta tráfico de VPC de AWS
        databases: all
        method: md5 # usar contraseña cifrada
      notify: Reiniciar Postgres

    - name: 4. Asegurar que el servicio esté corriendo
      service:
        name: postgresql
        state: started
        enabled: yes

    #Tareas de SQL (Creación de datos)

    - name: 5. Crear la base de datos 'nomina_db'
      become: yes
      become_user: postgres
      postgresql_db:
        name: "{{ db_name }}"

    - name: 6. Crear usuario de aplicación con contraseña
      become: yes
      become_user: postgres
      community.general.postgresql_user:
        name: "{{ db_user }}"
        password: "{{ db_password }}"

    - name: 6.1. Asignar privilegios al usuario
      become: yes
      become_user: postgres
      community.general.postgresql_privs:
        db: "{{ db_name }}"
        role: "{{ db_user }}"
        privs: ALL
        type: database  # Asigna permisos sobre toda la base de datos

    - name: 7. Crear tabla de Empleados e insertar datos iniciales
      become_user: postgres # Ejecutar como el usuario postgres
      postgresql_query:
        db: "{{ db_name }}"
        query: |
          CREATE TABLE IF NOT EXISTS empleados (
              id SERIAL PRIMARY KEY,
              nombre VARCHAR(100),
              puesto VARCHAR(100),
              vacaciones INT
          );
          INSERT INTO empleados (nombre, puesto, vacaciones) VALUES 
          ('Juan Perez', 'Ingeniero DevOps', 15),
          ('Maria Garcia', 'Gerente HR', 22),
          ('Carlos Lopez', 'Analista Financiero', 10)
          ON CONFLICT DO NOTHING;

  #Solo se ejecutarán si una tarea informa un cambio
  handlers:
    - name: Reiniciar Postgres
      service:
        name: postgresql
        state: restarted