name: 'Infrastructure Deployment'

on:
  workflow_dispatch:
     # Botón manual para iniciar
  push:
    branches:
      - main
      # Cada vez que hay push en main
    paths:
      - 'aws/**'
      - 'proyecto-AZURE/**'

jobs:
  deploy-infra-and-app:
    name: 'Build Infrastructure'
    runs-on: ubuntu-latest
    
    steps:
    # 1. Descargar Código
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Instalar Herramientas
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with: 
        terraform_wrapper: false

    # 3. Desplegar AWS
    - name: Terraform Init & Apply (AWS)
      id: aws
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        cd aws
        terraform init
        # usaremos una variable para la IP de Azure "placeholder" inicial 
        terraform apply -auto-approve -var="vpn_shared_key=${{ secrets.VPN_SHARED_KEY }}"
        
        # CAPTURAR OUTPUTS PARA EL SIGUIENTE PASO
        echo "WEB_PUBLIC_IP=$(terraform output -raw web_server_ip)" >> $GITHUB_OUTPUT
        echo "VPN_IP_AWS=$(terraform output -raw vpn_tunnel1_address)" >> $GITHUB_OUTPUT

    # Paso extra previo: Generar el archivo id_rsa.pub
    - name: Generate Azure Public Key File
      run: |
        # 1. Crear un archivo temporal con la llave privada del Secreto
        echo "${{ secrets.SSH_KEY_AZURE }}" > private_key_temp.pem
        chmod 600 private_key_temp.pem
        
        # 2. Usamos ssh-keygen para extraer la parte Pública (-y)
        # guardarla en la ruta (proyecto-AZURE/id_rsa.pub)
        ssh-keygen -y -f private_key_temp.pem > proyecto-AZURE/id_rsa.pub
        
        # Verificar que se creó
        ls -l proyecto-AZURE/id_rsa.pub

    # 4. Desplegar Azure y conexión
    - name: Terraform Init & Apply (Azure)
      id: azure
      env:
        ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: "us-east-1"
        
      run: |
        cd proyecto-AZURE
        terraform init
        # Le pasaremos la IP que acabamos de crear en AWS
        terraform apply -auto-approve \
          -var="aws_vpn_ip_address=${{ steps.aws.outputs.VPN_IP_AWS }}" \
          -var="vpn_shared_key=${{ secrets.VPN_SHARED_KEY }}"
        
        # CAPTURAR OUTPUTS PARA ANSIBLE
        echo "VPN_IP_AZURE=$(terraform output -raw vpn_gateway_public_ip)" >> $GITHUB_OUTPUT
        echo "DB_PRIVATE_IP=$(terraform output -raw db_private_ip)" >> $GITHUB_OUTPUT
        echo "BASTION_IP=$(terraform output -raw public_ip)" >> $GITHUB_OUTPUT

    # 5. Actualizar AWS con la IP real de Azure
    - name: Update AWS with Azure IP
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        cd aws
        # Aquí le pasamos la IP que capturamos del paso de Azure placeholder
        # SE REALIZARÁN DOS INTENTOS
        terraform apply -auto-approve \
          -var="azure_vpn_public_ip=${{ steps.azure.outputs.VPN_IP_AZURE }}" \
          -var="vpn_shared_key=${{ secrets.VPN_SHARED_KEY }}" || (

          echo "Falló primer intento, probablemente Race condition AWS"
          sleep 420
          echo "Reintentar"
          terraform apply -auto-approve \
              -var="azure_vpn_public_ip=${{ steps.azure.outputs.VPN_IP_AZURE }}" \
              -var="vpn_shared_key=${{ secrets.VPN_SHARED_KEY }}"
          )
      # 6. Guardar inventario en S3
    - name: Save Inventory to S3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        AWS_IP="${{ steps.aws.outputs.WEB_PUBLIC_IP }}"
        AZURE_IP="${{ steps.azure.outputs.DB_PRIVATE_IP }}"

        echo "Generate inventory"
        #AWS
        echo "[web]" > inventory_s3.ini
        echo "$AWS_IP ansible_user=ubuntu ansible_ssh_private_key_file=id_rsa_aws.pem ansible_ssh_common_args='-o StrictHostKeyChecking=no'" >> inventory_s3.ini
        #AZURE, INCLUDING JUMP FROM AWS TO CONFIGURE DB
        #PROXYJUMP
        echo "[db]" >> inventory_s3.ini
        cho "$AZURE_IP ansible_user=azureuser ansible_ssh_private_key_file=id_rsa_azure.pem ansible_ssh_common_args='-o ProxyCommand=\"ssh -W %h:%p -q ubuntu@$AWS_IP -i id_rsa_aws.pem -o StrictHostKeyChecking=no\" -o StrictHostKeyChecking=no'" >> inventory_s3.ini

        #Subir a S3
        aws s3 cp inventory_s3.ini s3://proyectoredes-tfstate-4892/inventory.ini