name: 'Despliegue total de la Infrastructura'

on:
  workflow_dispatch:
     # Botón manual para iniciar
  push:
    branches:
      - main
      # Cada vez que hay push en main

jobs:
  deploy-infra-and-app:
    name: 'Construir y Configurar'
    runs-on: ubuntu-latest
    
    steps:
    # 1. Descargar Código
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Instalar Herramientas
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with: 
        terraform_wrapper: false
    
    - name: Setup Python (para Ansible)
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install Ansible
      # Instalamos ansible-core 2.16.x que soporta Python 3.8 en el target
      run: pip install "ansible-core>=2.16,<2.17" ansible

    # 3. Desplegar AWS
    - name: Terraform Init & Apply (AWS)
      id: aws
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        cd aws
        terraform init
        # Usamos una variable para la IP de Azure "placeholder" inicial 
        # Asumimos despliegue inicial.
        terraform apply -auto-approve -var="vpn_shared_key=${{ secrets.VPN_SHARED_KEY }}"
        
        # CAPTURAR OUTPUTS PARA EL SIGUIENTE PASO
        echo "WEB_PUBLIC_IP=$(terraform output -raw web_server_ip)" >> $GITHUB_OUTPUT
        echo "VPN_IP_AWS=$(terraform output -raw vpn_tunnel1_address)" >> $GITHUB_OUTPUT

    # Paso extra previo: Generar el archivo id_rsa.pub
    - name: Generate Azure Public Key File
      run: |
        # 1. Crear un archivo temporal con la llave privada del Secreto
        echo "${{ secrets.SSH_KEY_AZURE }}" > private_key_temp.pem
        chmod 600 private_key_temp.pem
        
        # 2. Usamos ssh-keygen para extraer la parte Pública (-y)
        # guardarla en la ruta (proyecto-AZURE/id_rsa.pub)
        ssh-keygen -y -f private_key_temp.pem > proyecto-AZURE/id_rsa.pub
        
        # Verificar que se creó
        ls -l proyecto-AZURE/id_rsa.pub

    # 4. Desplegar Azure y conexión
    - name: Terraform Init & Apply (Azure)
      id: azure
      env:
        ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: "us-east-1"
        
      run: |
        cd proyecto-AZURE
        terraform init
        # Le pasaremos la IP que acabamos de crear en AWS
        terraform apply -auto-approve \
          -var="aws_vpn_ip_address=${{ steps.aws.outputs.VPN_IP_AWS }}" \
          -var="vpn_shared_key=${{ secrets.VPN_SHARED_KEY }}"
        
        # CAPTURAR OUTPUTS PARA ANSIBLE
        echo "VPN_IP_AZURE=$(terraform output -raw vpn_gateway_public_ip)" >> $GITHUB_OUTPUT
        echo "DB_PRIVATE_IP=$(terraform output -raw db_private_ip)" >> $GITHUB_OUTPUT
        echo "BASTION_IP=$(terraform output -raw public_ip)" >> $GITHUB_OUTPUT

    # 5. Configurar Llaves SSH (Temporales en el Robot de ghub)
    - name: Setup SSH Keys
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_KEY_AWS }}" > ~/.ssh/aws_key.pem
        echo "${{ secrets.SSH_KEY_AZURE }}" > ~/.ssh/azure_key
        chmod 600 ~/.ssh/aws_key.pem
        chmod 600 ~/.ssh/azure_key

    # Paso de precaución: Esperar a que las VMs terminen de arrancar
    - name: Wait for SSH to be ready
      run: sleep 120 # Espera 120 seg

    # 6. Generar Inventario de Ansible Dinámico
    - name: Create Ansible Inventory
      run: |
        cat <<EOF > ansible/inventory.ini
        [aws_web]
        ${{ steps.aws.outputs.WEB_PUBLIC_IP }} ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/aws_key.pem ansible_ssh_common_args='-o StrictHostKeyChecking=no'

        [azure_db]
        ${{ steps.azure.outputs.DB_PRIVATE_IP }} ansible_user=azureuser ansible_ssh_private_key_file=~/.ssh/azure_key ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ProxyCommand="ssh -W %h:%p -q azureuser@${{ steps.azure.outputs.BASTION_IP }} -i ~/.ssh/azure_key -o StrictHostKeyChecking=no"'
        EOF
        
        echo "Inventario Generado"
        cat ansible/inventory.ini

    # 7. Ejecutar Ansible: Configurar Base de Datos (Azure)
    - name: Run Playbook (Database)
      env:
        ANSIBLE_HOST_KEY_CHECKING: 'False'
      run: |
        ansible-playbook -i ansible/inventory.ini ansible/db-playbook.yml \
          --extra-vars "db_password=${{ secrets.DB_PASSWORD }}"

    # 8. Ejecutar Ansible: Configurar Web App (AWS)
    - name: Run Playbook (Web App)
      env:
        ANSIBLE_HOST_KEY_CHECKING: 'False'
      run: |
        ansible-playbook -i ansible/inventory.ini ansible/web-playbook.yml \
          --extra-vars "azure_private_ip=${{ steps.azure.outputs.DB_PRIVATE_IP }} db_password=${{ secrets.DB_PASSWORD }}"

    # 9. Actualizar AWS con la IP real de Azure
    - name: Update AWS with Azure IP
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        cd aws
        # Aquí le pasamos la IP que capturamos del paso de Azure placeholder
        # SE REALIZARÁN DOS INTENTOS
        terraform apply -auto-approve \
          -var="azure_vpn_public_ip=${{ steps.azure.outputs.VPN_IP_AZURE }}" \
          -var="vpn_shared_key=${{ secrets.VPN_SHARED_KEY }}" || (

          echo "Falló primer intento, probablemente Race condition AWS"
          sleep 420
          echo "Reintentar"
          terraform apply -auto-approve \
              -var="azure_vpn_public_ip=${{ steps.azure.outputs.VPN_IP_AZURE }}" \
              -var="vpn_shared_key=${{ secrets.VPN_SHARED_KEY }}"
          )